.addForm {
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 400px;
  background-color: #ffffff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input[type="text"],input[type="number"] {
  
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

.sub-btn {
  background:#1DB954;
  font-weight: bold;
  color: #FFFFFF;
  border: none;
  height: 40px;
  width: 80px;
  border-radius: 5px;
}

.sub-btn:hover {
  background: #1AAE3D;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
