@if(showError) {
    <div role="alert">
      Server je nedostupný. Choď sa prejsť príď o 15 min.
    </div>
  }

  <div>
    <p>{{user?.username}}</p>
    <p>{{user?.role}}</p>
    <p>{{user?.email}}</p>
    <p>{{user?.phone}}</p>
  </div>
  <div>
    <h3>Tvoji holuby:</h3>
    @if(userPigeons != null) {
      <div class="pigeonCards">
            @for (pigeon of userPigeons; track pigeon.name) {
              
                <div class="pigeonCard">
                  <ul>
                    <li>Name: {{pigeon.name}}</li>
                    <li>Breed: {{pigeon.breed}}</li>
                    <li>Color: {{pigeon.color}}</li>
                    <li>FatherId: {{pigeon.fatherId}}</li>
                    <li>MotherId: {{pigeon.motherId}}</li>
                  </ul>
                  <div class="buttons">
                    <button mat-flat-button class="edit_button" (click)="editPigeon(pigeon)">Edit</button>
                    <button mat-flat-button class="delete_button" (click)="deletePigeon(pigeon.id)">Delete</button>
                  </div>
                </div>
            }
          </div>
      }
      @if(ownProfile) {
        <button mat-flat-button routerLink="/pigeon/add" routerLinkActive="active">Add Pigeon</button>
      }