.pigeonCards {
    padding: 10px 10px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pigeonCard {
    border: 3px solid #1DB954;
    border-radius: 10px;
    min-width: 220px;
    max-width: 250px;
}
.pigeonCard ul {
   height: 150px;
}

.buttons {
    display: flex;
    padding: 10px 10px;
    gap: 20px;
    justify-content: center;
}

.buttons button {
    background-color: #1DB954;
    font-weight:500;
    color: #FFFFFF;
    width: 60px;
}
.mat-mdc-unelevated-button{
    background-color: #1DB954;
    font-weight:500;
    color: #FFFFFF;
}
/*
.buttons .delete_button {
    background-color: rgb(255, 101, 101);
}

.buttons .edit_button {
    background-color: rgb(96, 186, 255);
}*/