.pigeonCards {
    padding: 10px 10px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pigeonCard {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 5px;
    border-radius: 10px;
    min-width: 220px;
    max-width: 250px;
}

.pigeonCard ul {
    height: 150px;
}

.buttons {
    display: flex;
    padding: 10px 10px;
    gap: 20px;
    justify-content: center;
}

.buttons button {
    background-color: #1DB954;
    font-weight: 500;
    color: #FFFFFF;
    width: 60px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #1AAE3D;
}

.mat-mdc-unelevated-button {
    background-color: #1DB954;
    font-weight: 500;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s;
}

.mat-mdc-unelevated-button:hover {
    background-color: #1AAE3D;
}

.circle {
    width: 120px;
    height: 120px;
    border: 2px solid black;
    border-radius: 50%;   
    display: flex;         
    justify-content: center; 
    align-items: center;   
    overflow: hidden;       
}

.circle-image {
    width: 100%;           
    height: auto;          
    background-color: white;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center; /* Center content vertically */
    flex-direction: column; /* Stack children vertically */
}

.profile-body {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-direction: column; /* Stack children vertically */
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.pigeon-list-top{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}