<div class="navbar">
  <section>
      <div class="example-button-row">
          <button mat-flat-button routerLink="/users/profile" routerLinkActive="active">Profile</button>
      </div>
  </section>
  <section>
      <div class="example-button-row">
          <button mat-flat-button routerLink="/pigeon/list" routerLinkActive="active">Pigeon</button>
      </div>
  </section>
  <section>
    @if(loggedIn) {
        <div class="example-button-row">
            <button mat-flat-button (click)="logout()">Logout</button>
        </div>
    } 
    @else {
        <div class="example-button-row">
            <button mat-flat-button routerLink="/users/login" routerLinkActive="active">Login</button>
        </div>
    }
      
  </section>
</div>
