<div class="navbar">
    <section>
        <div class="example-button-row">
          <button type="submit" mat-flat-button>Profie</button>
          
        </div>
      </section>
      <section>
        <div class="example-button-row">
          <button type="submit" mat-flat-button>Pigeon</button>
          
        </div>
      </section>
      <section>
        <div class="example-button-row">
          <button type="submit" mat-flat-button>Logout</button>
          
        </div>
      </section>
</div>
