<div class="container">
        <h1>Family Pigeon Tree</h1>
    <div class="Parents">
        
        @if (papaPigeon) {
            <div class="papa">
            <h2>Mother</h2>
            <div>Name:  {{papaPigeon.name}}</div>
            <div>Breed: {{papaPigeon.breed}}</div>
            <div>Color:  {{papaPigeon.color}}</div>
            <div (click)="openProfile(papaPigeon.owner)">Owner: {{papaPigeon.owner?.username}}</div>
        </div>
        }
        
        
        @if (mamaPigeon) {
            <div class="mama">
            <h2>Father</h2>
            <div>Name:  {{mamaPigeon.name}}</div>
            <div>Breed: {{mamaPigeon.breed}}</div>
            <div>Color: {{mamaPigeon.color}}</div>
            <div (click)="openProfile(mamaPigeon.owner)">Owner: {{mamaPigeon.owner?.username}}</div>
        </div>
        }
    </div>
    
    <div class="current">
        <h2>Current pigeon</h2>
        <div>Name:  {{pigeon?.name}}</div>
        <div>Breed: {{pigeon?.breed}}</div>
        <div>Color: {{pigeon?.color}}</div>
        <div (click)="openProfile(pigeon?.owner)">Owner: {{pigeon?.owner?.username}}</div>
    </div>
    <div class="children">
        @for (child of childrenPigeons; track $index){
            <div class="child">
            <h2>Child</h2>
            <div>Name: {{child.name}}</div>
            <div>Breed: {{child.breed}}</div>
            <div>{{child.color}}</div>
            <div (click)="openProfile(child.owner)">{{child.owner?.username}}</div>
        </div>
        }
    </div>