
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

}
.Parents{
    display: flex;
}
.Parents .mama{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   margin: 10px;
   padding: 15px;
   border-radius: 15px;
   width: 150px;

}
.Parents .papa{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    width: 150px;
}
.current{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    width: 200px;
    height: 200px;
}
.children{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.child{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    width: 150px;
}

:hover.owner-btn{
    cursor: pointer;   
    color: #1DB954;
    font-weight: bold;
}
.owner-btn{
    color:rgba(10, 110, 168, 0.761);
    font-weight: bold;
}