<div class="form-container">
  <div class="username-container">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input
        matInput
        placeholder="jankohrasko"
        required
        name="username"
      />
    </mat-form-field>
  </div>
  <div class="password-container">
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="jankohrasko123"
        required
        name="password"
      />
    </mat-form-field>
  </div>
  <section>
    <div class="example-button-row">
      <button type="submit" mat-flat-button onclick="login()">Submit</button>
      
    </div>
  </section>
</div>