.mat-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .mat-dialog-actions {
    margin-top: 16px;
  }
  
  .full-width {
    width: 100%;
  }
  .cancel-btn{
    color: white;

  }
  .apply-btn{
   color: white; 
  }
  